html{
    background: #111;
}
html, body{
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: none;
    font-family: "Ubuntu";
    overflow-x: hidden;
}
img, input, select, button, div{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    font-family: "Ubuntu";
}
.toastify{
    box-shadow: none;
    border-radius: 20px;
    font-size: 16px;
    padding: 10px 15px;
    font-family: "Ubuntu";
    font-weight: bold;
    background: #fff;
    color: #000;
    width: 150px;
    text-align: center;
}
#vanta{
    position: fixed;
    width: 100%;
    height: 100%;
    float: left;
    top: 0;
    left: 0;
    z-index: -1;
}
main{
    display: block;
    max-width: 1400px;
    margin: 0 auto 20px auto;
}
#x-logo{
    transition: .3s;
    width: 20px;
    height: 20px;
    position: fixed;
    float: left;
    bottom: 13px;
    left: 12px;
}
#x-logo:hover{
    opacity: 0.5;
}
#logo-home{
    width: 400px;
    display: block;
    position: fixed;
    float: left;
    left: calc(50% - 192px);
    top: calc(50% - 70px);
}
button{
    cursor: pointer;
    border: 0;
    outline: 0;
}
#nav{
    display: block;
    margin: 0;
    background: #00000047;
}
#nav button{
    display: inline-block;
    background: #1d1d1da8;
    border-radius: 21px;
    margin: 11px 0 11px 10px;
    padding: 10px 25px;
    font-weight: bold;
    font-size: 16px;
    transition: .3s;
    color: #2a71f8;
    text-shadow: 1px 1px 1px #010101;
}
#nav #nav-contain{
    max-width: 1390px;
    margin: 0 auto;
}
#nav button:hover{
    background: #1b1b1b66;
    color: #1dd2bd;
    box-shadow: none;
}
#nav button#connect, #nav button#disconnect{
    float: right;
    margin-right: 10px;
    color: #fff;
    background: #090909f5;
}
#nav button#connect:hover, #nav button#disconnect:hover{
    color: #1dd2bd;
}
#nav button#disconnect{
    display: none;
}
#nav .mcswap_connect_button, #nav .mcswap_disconnect_button {
    width: auto;
    height: auto;
}

#nav button.active-view{
    background: #1b1b1b66;
    color: #1dd2bd; 
}
#nav button:disabled{
    background: #1b1b1b;
    color: #282828;
    opacity: 0.5;
    box-shadow: none;
}
h1, h2{
    margin: 0;
}
h2{
    font-size: 14px;
    margin: 7px 0 0 2px;
}
#views{
    margin-top: 0;
    display: block;
}
.views{
    display: none;
    transition: 0.3s;
    margin: 13px 20px;
    transition: .3s;
}
#home-view{
    display: block;
}
.panel{
    background: #00000047;
    /* min-height: 800px; */
    border-radius: 10px;
    margin-top: 18px;
    padding: 12px 17px;
}
.panel-box{
    display: block;
}
.row{
    display: block;
    padding: 5px;
    border-bottom: 1px solid #11111182;
}
label{
    display: inline-block;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    width: 80px;
    line-height: 40px;
    height: 40px;
}
span.label-category{
    display: inline-block;
    font-weight: normal;
    font-size: 19px;
    color: #1dd2bd;
    line-height: 40px;
    height: 40px;
    width: 80px;
}
span#creator-value, span#buyer-value{
    font-size: 12px;
    margin-left: 5px;
}

/* form */
label.form-error{
    color: #fb721d;
}
#create-form{
    display: block;
}
#create-form input{
    line-height: 40px;
    height: 40px;
    background: #111;
    border: 0;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    width: 364px;
    font-family: "Ubuntu";
    font-weight: bold;
    color: #fff;
}
#create-form button, #create-form select{
    background: #111;
    border: 0;
    outline: none;
    line-height: 40px;
    height: 40px;
    width: 394px;
    font-family: "Ubuntu";
    font-weight: bold;
    color: #2a71f8;
    transition: .3s;
}
#create-form select{
    text-align: center;
    cursor: pointer;
}
#create-form select:focus {
  outline: none;
}
#create-form select option{
    border: 0;
    outline: none;
}
#create-form button:hover, #create-form select:hover{
    color: #1dd2bd;
}
#create-form .row:first-of-type{
    border-top: 1px solid #11111182;
}
#create-form input#payment-tax{
    background: none;
}
#create-form button.submit{
    display: block;
    border-radius: 26px;
    font-size: 16px;
    height: 48px;
    margin: 38px 0 28px 174px;
    width: 200px;
}
#create-form button.submit:hover{
    background: #1b1b1b66;
}
#mcswap_message {
    top: 45%;
    font-size: 18px;
    font-weight: bold;
}

/* asset list */
.little-icon{
    display: inline-block;
    margin: 0 0 -10px -15px;
    background: #000;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    outline: none;
    border: 0;
    display: none;
}
#asset-list-box{
    display: none;
    position: fixed;
    float: left;
    left: 0;
    top: 0;
    background: #090909f5;
    width: 350px;
    z-index: 1;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
#asset-list-close{
    width: 25px;
    height: 25px;
    float: right;
    background: none;
    margin-right: 13px;
    margin-top: 8px;
}
#asset-list-close img{
    width: 25px;
    height: 25px;
    transition: .3s;
}
#asset-list-close:hover img{
    opacity: 0.5;
}
#asset-list{
    margin-top: 44px;
}
.list-clear{
    display: block;
    clear: both;
}
#asset-list ul{
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #111111;
    cursor: pointer;
    height: 81px;
}
#asset-list ul:hover{
    background: #111;
}
#asset-list ul:first-of-type {
    border-top: 1px solid #111111;
}
#asset-list ul:nth-child(3){
    border-bottom: 0;
}
#asset-list ul:nth-child(4){
    border-top: 1px solid #111111;
}
#asset-list ul li.list-icon{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 80px;
    height: 80px;
    vertical-align: top;
}
#asset-list ul li.list-icon img{
    margin: 10px 10px;
    padding: 0;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
#asset-list ul li.list-symbol{
    display: inline-block;
    margin: 0;
    padding: 10px 0 0 2px;
    vertical-align: top;
    height: 60px;
    width: calc(100% - 82px);
    font-size: 25px;
    font-weight: normal;
}
#asset-list ul li.list-name{
    width: calc(100% - 83px);
    color: #fff;
    margin-left: 83px;
    margin-top: -36px;
    margin-bottom: 18px;
}