#mcswap_chooser button {
    -webkit-box-shadow: 0px 0px 3px 0px #b8470d;
    -moz-box-shadow: 0px 0px 3px 0px #b8470d;
    box-shadow: 0px 0px 3px 0px #b8470d;
}
#mcswap_chooser button.mcswap_choice:hover {
    box-shadow: 0 0 10px 3px #b8470d;
}
#mcswap_chooser button.mcswap_choice:disabled:hover {
    text-shadow: none;
    box-shadow: 0 0 3px #b8470d;
}